{% extends "base.html" %}
{% block content %}

<div class="parallax-container">
  <div class="parallax">
    <img src="https://images.pexels.com/photos/6585012/pexels-photo-6585012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
    " alt="" class="responsive-img">
  </div>
</div>
<div class="section black">
  <div class="row container">
    <p class="white-text center-align about">
      HR. Reports is created and built for the employees. To give Human Resources constant updates, so that they can get the inputs they need to make the workspace as good as possible for the employees.
      When an employee reports something about themselves, weekly or even daily. The accurate departments are able to analyze the data provided, to improve the workspace.
      Give feedback, report when you are feeling well, report when you are feeling bad and give HR updates when there is something that you would like to bring to the staffs attention.
      We hope that when employees are given the opportunity to report how they feel and if there is anything on their minds, that the workspace's overall level of stress decreases.
      When data on how employees are feeling, HR are able to analyse and improve the workspace.
    </p>
  </div>
  </div>

  <div class="parallax-container">
  <div class="parallax">
    <img src="https://images.pexels.com/photos/6585012/pexels-photo-6585012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  </div>
</div>

<footer class="page-footer black">
  <hr class="white">
  <div class="container black">
    <div class="row black">
      <div class="col l6 s12">
          <h5 class="white-text">HR. Reports</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab laudantium error facilis quasi impedit minus voluptas repellat!<br>
            If you would like to read more about us, then please <a href="#">press here.</a>
        </p>
        <h5 class="white-text">Centre Location</h5>
      <p class="white-text">Vasagatan 82, Stockholm, 11120</p>
      </div>
      <div class="col l4 offset-l2 s12">
          <h6 class="white-text">Call us at<b>:  </b>
            0011111111</h6>
        </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2021 Copyright Text
    </div>
  </div>
</footer>

{% endblock %}