{% extends "base.html" %}
{% block content %}

<div class="parallax-container">
  <div class="parallax">
    <img src="https://images.pexels.com/photos/6585012/pexels-photo-6585012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260
    " alt="" class="responsive-img">
  </div>
</div>
<div class="section black">
  <div class="row container">
    <p class="white-text center-align about">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores illum beatae blanditiis minus sapiente incidunt quisquam ipsum, placeat velit minima nihil facilis quo reiciendis voluptatibus, quos adipisci inventore nesciunt obcaecati.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ex blanditiis dolore consequatur, dignissimos fugiat et! Rem dolores dolorum, odio aperiam adipisci fugit, impedit, assumenda quaerat perspiciatis consequatur illum dolor!
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione voluptatibus, itaque distinctio laudantium, voluptas delectus ullam cupiditate, molestiae fuga voluptatum illum sequi quae laboriosam accusamus! Rerum amet tenetur cumque voluptatem.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsa veniam nobis, ratione expedita perferendis rerum animi totam odio magni numquam optio eum earum sapiente velit ad fugit sit ex!
    </p>
  </div>
  </div>

  <div class="parallax-container">
  <div class="parallax">
    <img src="https://images.pexels.com/photos/6585012/pexels-photo-6585012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
  </div>
</div>

<footer class="page-footer black">
  <hr class="white">
  <div class="container black">
    <div class="row black">
      <div class="col l6 s12">
          <h5 class="white-text">HR. Wine Spectator</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab laudantium error facilis quasi impedit minus voluptas repellat!<br>
            If you would like to read more about us, then please <a href="#">press here.</a>
        </p>
        <h5 class="white-text">Centre Location</h5>
      <p class="white-text">Vasagatan 82, Stockholm, 11120</p>
      </div>
      <div class="col l4 offset-l2 s12">
          <h6 class="white-text">Call us at<b>:  </b>
            0011111111</h6>
        </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2021 Copyright Text
    </div>
  </div>
</footer>

{% endblock %}